*{margin: 0;padding: 0; box-sizing: border-box;}
.box{
    width: 700px;
    border: 3px solid red;
    height: 500px;
    padding: 10px ;
    margin: 10px;
   
}
header{
    width: 100%;
    border: 3px solid #ddd;
    height: 100px;
    margin-bottom: 15px;
    background: #129599;
    text-align: center;
    line-height: 100px;
    color: rgb(209, 24, 255);
}
nav{
    width: 100%;
    border: 3px solid #c3f021;
    height: 100px;
    margin-bottom: 15px;
    background: #129599;
    text-align: center;
    line-height: 100px;
    color: rgb(209, 24, 255);
}
aside{
    width: 100%;
    border: 3px solid #4e21f0;
    height: 100px; 
    margin-bottom: 15px;
    background: #129599;
    text-align: center;
    line-height: 100px;
    color: rgb(209, 24, 255);
}
footer{
    width: 100%;
    border: 3px solid #21e9f0;
    height: 100px;
    margin-bottom: 15px;
    background: #129599;
    text-align: center;
    line-height: 100px;
    color: rgb(209, 24, 255);
}