table{
    width: 500px;
    height: 400px;
    border: 5px solid #ddd;
    border-collapse: collapse;
}

td,th{border:1px solid #ddd;}
td{text-align: center;}
th{background: skyblue;}
.f{background: yellow;}

thead th{
    background: green;
    color: #fff;
    padding: 10px;
}
tfoot td{
    background: orange;
    font-weight: bold;
    padding: 10px;
}