th,td{
    border: 5px solid rgb(226, 91, 91);
}

table{
    width: 500px;
    height: 400px;
    border: 5px solid rgb(212, 89, 89);
}
thead th{
    background: #8b8787;
}
tfoot td{
    background: #8b8787;
}
td,th{border: ;}