#wrap2{
    width: 400px;
    height: 800px;
    background: red;
    border: 5px solid #aee21d;
    margin: 50px auto;
    padding: 10px;
}
header{
    width: 100%;
    height: 200px;
    background: black;
    text-align: center;
    line-height: 200px;
    color: #aee21d;
    font-size: 30px;
    text-transform: uppercase;
}
nav{
    width: 100%;
    height: 100px;
    background: #3d18df;
    text-align: right;
    line-height: 100px;
    color: aqua;
    font-size: 20px;
}
#main2{
    width: 300px;
    height: 400px;
    float: left;
}
section{
    width: 300px;
    height: 200px;
    background: #3ffd78;
    font-size: 30px;
    text-align: left;
    line-height: 200px;
    color: azure;
}
article{
    width: 300px;
    height: 200px;
    background: #c5752a;
    font-size: 25px;
    text-align: right;
    line-height: 200px;
    color: rgb(32, 131, 131);
    text-transform: uppercase;
}
aside{
    width: 100px;
    height: 400px;
    background: #99a71d;
    font-size: 20px;
    text-align: right;
    line-height: 400px;
    color: azure;
    float: left;
}
footer{
    clear: both;
    width: 400px;
    height: 100px;
    background: #7d37be;
    font-size: 25px;
    text-align: right;
    line-height: 50px;
    color: rgb(32, 131, 131);
    text-transform: uppercase;
}