*{margin: 0;padding: 0;}
#wrap{
    width: 500px;
    height: 800px;
    background: rgb(33, 124, 45);
    border: 5px solid #ccc;
    margin: 50px auto;
    padding: 10px;
}
header{
    width: 100%;
    height: 100px;
    background: red;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
}
nav{
    width: 100%;
    height: 50px;
    background: rgb(178, 231, 53);
    text-align: center;
    line-height: 50px;
    color: rgb(49, 4, 252);
    font-size: 30px;
    text-transform: uppercase;
}
#main{
    width: 300px;
    height: 550px;
    float: left;
}
section{
    width: 300px;
    height: 275px;
    background: rgb(117, 46, 119);
    text-align: center;
    line-height: 275px;
    color: rgb(49, 4, 252);
    font-size: 30px;
    text-transform: uppercase;
}
article{
    width: 300px;
    height: 275px;
    background: rgb(107, 192, 207);
    text-align: center;
    line-height: 275px;
    color: rgb(75, 25, 71);
    font-size: 30px;
    text-transform: uppercase;
}
aside{
    width: 200px;
    height: 550px;
    background: rgb(245, 189, 36);
    text-align: center;
    line-height: 550px;
    color: rgb(75, 25, 71);
    font-size: 60px;
    text-transform: uppercase;
    float: left;
}
footer{
    clear: both;
    width: 100%;
    height: 100px;
    background: rgb(35, 70, 44);
    text-align: center;
    line-height: 100px;
    color: rgb(75, 25, 71);
    font-size: 24px;
    text-transform: uppercase;
}
