nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
nav .bg{
    width: 100%;
    height: 240px;
    background: yellowgreen;
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{
    display: block;
}
nav>ul{
    display: flex; justify-content: center;
    height: 100%;
    align-items: center;
}
nav>ul>li{width: 130px; text-align: center;}
nav>ul>li>a{
    text-decoration: none;
    color: #333;
    transition: .3s;
    display: block;
    padding: 10px 20px;
}
nav>ul>li:hover>a{
    color: #f00;
}
nav>ul>li>ul{
    display: none; position: absolute;
    top:80px;
    width: 130px;

}
nav:hover>ul>li>ul{display: block;}
nav>ul>li>ul>li{
    text-align: center;
    width: 100%;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
}
nav>ul>li>ul>li>a:hover{
    text-decoration: underline;
}

/* nav{
    width: 100%;
    height: 100px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid#fff
}
nav .bg{
    width: 100%;
    height: 100px;
    background: rgb(253, 72, 72);
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{display: block;}
nav>ul{
    display: flex;
    height: 100%;
    align-items: center;
}
nav>ul>li{
    color: rgb(51, 51, 51);
    text-align: center;
    height: 100%;
}
nav>ul>li>a
nav>ul>li>ul
nav>ul>li>ul>li
nav>ul>li>ul>li>a */