*{box-sizing: border-box;}
a{text-decoration: none; color: #000;}
#wrap{
    
}
#header{
    width: 100%;
    height: 100px;
    padding: 0 50px;
    background: rgba(255, 255, 255, .6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{}
#nav>ul{
    display: flex;
}
#nav>ul>li{
    width: 150px;
    text-align: center;
}
#nav>ul>li>a{
    font-size: 24px;
    font-weight: bold;
    padding: 35px 20px;
}
#nav>ul>li:nth-child(1)>a{color: rgb(255, 0, 0);}
#nav>ul>li:nth-child(2)>a{color: rgb(38, 0, 255);}
#nav>ul>li:nth-child(3)>a{color: rgb(21, 255, 0);}
#nav>ul>li:nth-child(4)>a{color: rgb(234, 0, 255);}
#nav>ul>li:nth-child(5)>a{color: rgb(255, 0, 140);}
#nav .bg{
    width: 100%;
    height: 0;
    transition: height .3s;
    background: #4c00ff;
    position: absolute;
    top: 100px;
    left: 0;
}
#nav:hover .bg{
    height: 216px;
}
#nav>ul>li>ul{
    position: absolute;
    top: 100px;
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: height .3s;
}
#nav:hover>ul>li>ul{
    height: 216px;
}
#nav>ul>li:hover>ul{
    background: #000;
    height: 216px;
}
#nav>ul>li>ul>li{
    position: relative;
}
#nav>ul>li>ul>li:hover:after{
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    background: #fff;
    transition: .3s;
}
#nav>ul>li>ul>li:hover:after{
    width: 100%;
    left: 0;
}
#nav>ul>li>ul>li>a{
    padding: 10px 0;
}
